@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Fonts */
  --font-sans: 'Arial', 'Helvetica', sans-serif; /* Sans-serif fontai */
  --font-display: "Signika Negative", sans-serif; /* Specialus Display fontas */
  --font-body: 'Arimo', sans-serif; /* Body tekstui naudojamas fontas */

  /* Font  sizes */
  --font-size-h1: 1.5rem; /* 24px */
  --font-size-h2: 1.25rem; /* 20px */
  --font-size-h3: 1.125rem; /* 18px */
  --font-size-h4: 0.9375rem; /* 15px */ 
  --font-size-body: 0.75rem; /* 14px */
  --font-size-btn: 0.75rem; /* 14px */
  
  /* Line height */
  --line-height-normal: 1.5; /* Standartinis line-height */
  --line-height-tight: 1.05; /* Siauresnis line-height */
}

@media screen and (min-width: 1024px) {
  :root {
    --font-size-h1: 2.7rem; /* 43px */
    --font-size-h2: 2.125rem; /* 34px */
    --font-size-h3: 1.5rem; /* 24px */
    --font-size-h4: 1.25rem; /* 20px */ 
    --font-size-body: 1rem; /* 16px */
    --font-size-btn: 1rem; /* 16px */
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --font-size-h1: 2.7rem; /* 43px */
    --font-size-h2: 2.125rem; /* 34px */
    --font-size-h3: 1.5rem; /* 24px */
    --font-size-h4: 1.25rem; /* 20px */ 
    --font-size-body: 1rem; /* 16px */
    --font-size-btn: 1rem; /* 16px */
  }
}



body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--black);
  font-family: var(--font-body);
  background: var(--background);


}

h1{
  font-size: var(--font-size-h1);
  line-height: var(--line-height-tight);
}

h2{
  font-size: var(--font-size-h2);
  line-height: var(--line-height-tight);
}

h3{
  font-size: var(--font-size-h3);
  line-height: var(--line-height-tight);
}

h4{
  font-size: var(--font-size-h4);
  line-height: var(--line-height-tight);
}

p{
  font-size: var(--font-size-body);
  line-height: var(--line-height-tight);
}

.container {
  @apply max-w-full sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto px-10 sm:px-20;
}

.icon{
  @apply text-brown hover:text-brown-hover transition-colors
}

.icon-white{
  @apply text-white-transparent70 hover:text-brown-hover transition-colors
}
